# Database
DB_USER=backend
DB_PASSWORD=LOL/A  # <-- 特殊字元現在可以直接使用
DB_HOST=db
DB_PORT=5432
DB_NAME=magic_pinecone_db

# Server URLs for OpenAPI Docs
GATEWAY_URL=http://localhost:18080
BACKEND_URL=http://localhost:8000
